.Center {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.Modal {
  display: grid;
  grid-template:
    "close header  ." 4em
    ".     content ."
    / 1fr 5fr 1fr;
  align-items: center;
  background-color: white;
  border-radius: 15px;

  .CloseIcon {
    grid-area: close;
    padding-left: 7px;
  }

  .Header {
    grid-area: header;
  }

  .Content {
    grid-area: content;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
  }
}
