.Dummy {
  display: contents;
}

.Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);

  .Modal {
    background-color: white;
    border-radius: 15px;
    padding-bottom: 2rem;

    &.WithCloseIcon {
      display: grid;
      grid-template:
        "close content ." 4rem
        ".     content . "
        / 1fr 5fr 1fr;
    }

    .CloseIcon {
      grid-area: close;
      padding-left: 7px;
    }

    .Header {
      grid-area: header;
    }

    .Content {
      grid-area: content;
    }
  }
}
