.Dummy {
  display: contents;
}

.Wrapper {
  background-color: rgba(0, 0, 0, 0.5);

  &:not(.SidePanel) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.SidePanel .Modal {
    width: 80%;
    overflow-y: auto;
  }

  &:not(.SidePanel) .Modal {
    width: 50vw;
    height: 70vh;
    min-width: 440px;
    max-width: 600px;

    @include media.multi(mobile, tablet) {
      width: 100vw;
      height: 100vh;
      max-width: unset;
      min-width: unset;
    }
  }

  .Modal {
    @include media.multi(pc-small, pc) {
      border-radius: 15px;
    }
    height: 100vh;
    background-color: white;

    &.WithCloseIcon {
      display: grid;
      grid-template:
        "close content ." 4rem
        ".     content . "
        / 1fr 5fr 1fr;
    }

    .CloseIcon {
      grid-area: close;
      padding-left: 7px;
    }

    .Header {
      grid-area: header;
    }

    .Content {
      grid-area: content;
      height: 100%;
    }
  }
}
