.AccountInfo {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .NameEmail {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .DateOfBirth {
    margin-top: 0.5rem;
    color: var(--light-color);
  }

  h4 {
    font-size: var(--big-text);
  }

  .Form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
