.Items {
  display: flex;
  text-align: center;
  align-items: center;

  a {
    display: contents;
  }

  .Item {
    flex: 1;
    transition: common.$transition-duration;
    cursor: pointer;
    padding: 1rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: common.$big-text;
    border-bottom: common.$border;

    &:hover {
      background-color: rgba(15, 20, 25, 0.1);
    }

    &::after {
      height: 1rem;
      width: 50%;
      content: "";
      display: block;
      border-bottom: solid transparent 4px;
    }

    &:not(.Active) {
      color: common.$light-color;
      font-weight: 500;
    }

    &.Active {
      font-weight: 700;

      &::after {
        border-bottom-color: common.$primary-color;
      }
    }
  }
}
