.IconWrapper {
  --icon-wrapper-padding: 8px;
  padding: var(--icon-wrapper-padding);
  border-radius: 40px;
  transition: var(--transition-duration);
  display: flex;
  align-items: center;
  width: min-content;
  cursor: pointer;

  &.ExactLeftPlacement {
    margin-left: calc(-1 * var(--icon-wrapper-padding));
  }
  &.ExactVerticalPlacement {
    margin-block: calc(-1 * var(--icon-wrapper-padding));
  }

  &.Hover:hover {
    background-color: var(--hover-bg);
  }

  &.HoverPrimary:hover {
    background-color: var(--primary-color-transparent);
  }

  &.NoHover {
    padding: 0;
    transition: none;

    .Icon {
      cursor: pointer;
    }
  }

  &.WithBorder {
    border: 1px solid rgb(207, 217, 222);
  }

  .Icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
}
