.HeaderMain,
.HeaderExtendedGridArea {
  z-index: 1;
  position: sticky;
  background-color: white;
  border-inline: var(--border);
}

.HeaderExtendedGridArea {
  grid-area: header-extended;
  top: var(--header-height);
  border-bottom: var(--border);
}

.HeaderMain {
  height: var(--header-height);
  grid-area: header-main;
  top: 0;
  display: flex;

  .Main {
    padding-inline: var(--main-content-padding);
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-grow: 1;

    .TitleSubtitle {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .Title {
      display: flex;
      align-items: center;
      gap: 0.3rem;
    }
  }
}

.SearchContainer {
  width: 80%;
}
