.HeaderMain {
  display: flex;
  align-items: center;
  padding-left: var(--main-content-padding);
  padding-right: 0.5rem;
  border-inline: var(--border);
}

.HeaderMainGridArea {
  grid-area: header-main;
}
