.CheckboxArea {
  display: flex;
  gap: 1rem;
  cursor: pointer;

  input[type="checkbox"] {
    flex-shrink: 0;
    margin-left: auto;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 20px;
    width: 20px;
    border: 2px solid #565454;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:checked {
      background-color: common.$primary-color;
      border-color: common.$primary-color;

      &::after {
        content: "✓";
        font-size: common.$biggest-text;
        color: white;
      }
    }
  }
}
