.EditProfile {
  --cover-height: 200px;
  --avatar-height: 133px;

  display: grid;
  grid-template-areas:
    "cover1  cover1  cover1  cover1"
    "cover2  avatar  cover3  cover3"
    ".       avatar  .       .     "
    ".       content content .     ";

  grid-template-rows:
    calc(var(--cover-height) - var(--avatar-height) / 2)
    calc(var(--avatar-height) / 2)
    calc(var(--avatar-height) / 2)
    auto;

  grid-template-columns: 1rem var(--avatar-height) 1fr 1rem;
}
