.TweetActions {
  display: flex;

  &.SpaceAround {
    justify-content: space-around;
  }

  &.SpaceBetween {
    justify-content: space-between;
  }

  .Transition {
    transition: var(--transition-duration);
  }
}

.Modal {
  @include media.multi(pc-small, pc) {
    height: min-content !important;
  }
}
