.TweetActions {
  display: flex;

  &.SpaceAround {
    justify-content: space-around;
  }

  &.SpaceBetween {
    justify-content: space-between;
  }

  .Transition {
    transition: common.$transition-duration;
  }
}

.Modal {
  @include common.multi(pc-small, pc) {
    height: min-content !important;
  }
}
