.Minipage {
  height: 100%;
  display: grid;
  --minipage-icon-area-length: 4rem;
  --minipage-blank-area: 1rem;
  grid-template:
    ". .      .       ." 1rem
    ". icon   header  ." auto
    ". .      content content" 1fr
    "footer footer footer  footer" auto
    / var(--minipage-blank-area) minmax(auto, var(--minipage-icon-area-length)) 1fr var(
      --minipage-blank-area
    );

  .Content {
    overflow-y: auto;
    grid-area: content;
    padding-top: 1.5rem;
    padding-bottom: 4rem;

    /** This padding should be equal to the grid's left blank area plus the icon 
     *  area. Normally, content grid area would be only in the center and not 
     *  take up the right area too, but we need to do this to let the scroll bar
     *  stick to the rightmost part of the screen. Right now padding is at a 
     *  "close enough but not exact" value, since the grid's column widths are 
     *  dynamic. In the future, we will be able to graciously get the exact 
     *  spacing by using subgrid. 
     **/
    padding-right: calc(
      var(--minipage-blank-area) + var(--minipage-icon-area-length)
    );
  }

  .Footer {
    grid-area: footer;
    box-shadow: var(--box-shadow);
    display: grid;
    grid-template:
      ". content ."
      / 4rem 1fr 4rem;
    align-items: center;
    padding-block: 2rem;

    .Wrapper {
      grid-area: content;
    }
  }
}
