.Wrapper {
  overflow-y: auto;
}

.Sidebar {
  max-width: 260px;
  overflow-y: auto;
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  font-size: var(--bigger-text);
  grid-area: sidebar;

  @include media.pc-small {
    // First align icons with each other
    align-items: center;
    // then push them to the right. If we used "align-items: flex-end" instead,
    // they would be pushed to the right but wouldn't be aligned with each other
    // because some of them are of different sizes
    margin-left: auto;
    padding-right: 0.5rem;

    @media (max-width: 870px) {
      // At this smaller screen width, it makes more sense to align to the
      // center instead of push to the right
      align-items: center;
      margin-left: 0;
      padding-right: 0;
    }
  }

  @include media.multi(mobile, tablet) {
    max-width: unset;
    overflow-y: visible;
    bottom: 0;
    height: auto;
    padding-block: 1rem;
    background: white;
    z-index: 1;
  }
}

.TweetButtonWrapper {
  width: 90%;
}

.TweetIconWrapper {
  @include media.multi(mobile, tablet) {
    position: fixed;
    bottom: 5.5rem;
    right: 2rem;
  }
}

.Modal {
  @include media.multi(pc-small, pc) {
    height: min-content !important;
  }
}
