.Sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  font-size: var(--bigger-text);
  grid-area: sidebar-left;

  @include media.multi(mobile, tablet, pc-small) {
    align-items: center;
    margin-right: 1rem;
  }

  .Logo {
    padding-left: 6px;
    margin-top: 5px;
  }
}

.TweetButtonWrapper {
  width: 90%;
}

.TweetButton {
  height: 54px !important;
  width: 54px !important;
  min-width: none !important;
}
