.Sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  font-size: var(--bigger-text);
  grid-area: sidebar-left;

  @include media.pc-small {
    align-items: center;
    $no-content-right-width: 1015px; // TODO: import from App.module.scss
    @media (width > $no-content-right-width) {
      padding-right: 1rem;
    }
  }

  @include media.multi(mobile, tablet) {
    overflow-y: visible;
    bottom: 0;
    height: auto;
    padding-block: 1rem;
    background: white;
    z-index: 1;
  }

  .Logo {
    padding-left: 6px;
    margin-top: 5px;
  }
}

.TweetButtonWrapper {
  width: 90%;
}

.TweetButton {
  height: 54px !important;
  width: 54px !important;
  min-width: none !important;
}
