.OptionsPopup {
  box-shadow: var(--box-shadow);
  border-radius: 16px;
  background-color: white;
  pointer-events: all;
  overflow-y: auto;
  position: absolute;
}

.Option {
  font-weight: 700;
  font-size: 15px;
  padding-block: 1rem;
  padding-inline: 0.75rem;
  cursor: pointer;
  display: flex;

  .Icon {
    transition-duration: 100ms;
  }

  .RotateIcon {
    transform: rotate(-180deg);
  }

  &:hover {
    background-color: rgb(247, 249, 249);
  }
}
