.Button {
  font-size: 14px;
  font-weight: 700;
  min-width: 6rem;
  color: white;
  border-radius: 40px;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  transition: var(--transition-duration);

  &.Primary {
    background: var(--primary-color);
    &:hover {
      background-color: rgb(26, 140, 216);
    }
  }

  &.Black {
    background: rgb(15, 20, 25);
    &:hover {
      background: rgb(39, 44, 48);
    }
  }

  &.White {
    background: white;
    border: 1px solid rgb(207, 217, 222);
    &:hover {
      background: rgb(230, 230, 230);
    }
  }

  &.Small {
    height: 32px;
  }

  &.Medium {
    height: 36px;
  }

  &.Large {
    height: 50px;
  }

  &.Stretch {
    width: 100%;
  }

  &.LargeFont {
    font-size: 17px;
  }

  &.BlackFont {
    color: black;
  }
}
