.Button {
  font-size: 14px;
  font-weight: 700;
  min-width: 4rem;
  color: white;
  border-radius: 40px;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  transition: var(--transition-duration);
  display: flex;
  justify-content: center;
  align-items: center;

  &.Primary {
    background: var(--primary-color);
    &:hover:not(.Disabled) {
      background-color: rgb(26, 140, 216);
    }
  }

  &.Black {
    background: rgb(15, 20, 25);
    &:hover:not(.Disabled) {
      background: rgb(39, 44, 48);
    }
  }

  &.White {
    color: black;
    background: white;
    border: 1px solid rgb(207, 217, 222);
    &:hover:not(.Disabled) {
      background: rgb(230, 230, 230);
    }
  }

  @mixin Red {
    color: red;
    background: rgba(244, 33, 46, 0.2) !important;
    border: 1px solid rgb(253, 201, 206);
  }

  &.Red {
    @include Red;
  }

  &.HoverRed:hover {
    @include Red;
  }

  &.Small {
    height: 32px;
  }

  &.Medium {
    height: 36px;
  }

  &.Large {
    height: 50px;
  }

  &.Stretch {
    width: 100%;
  }

  &.LargeFont {
    font-size: 17px;
  }

  &.Disabled {
    cursor: initial;
    opacity: 50%;
  }
}
