.WhoToFollowButton {
  background: rgb(15, 20, 25);
  font-size: 14px;
  font-weight: 700;
  min-width: 6rem;
  color: white;
  border-radius: 40px;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  transition: var(--transition-duration);

  &:hover {
    background: rgb(39, 44, 48);
  }
}
