.HeaderRight {
  grid-area: header-right;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  // For letting it stay above ContentRight during scrolling
  z-index: 1;
}
