.Settings {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;

  .SettingsList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .Terms {
    font-size: 15px;
    color: var(--light-color);
    font-weight: 400;

    a {
      color: var(--primary-color);
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
