.Wrapper {
  padding: 0.5rem;
  font-size: 17px;
  color: rgb(83, 100, 113);
  border-radius: 4px;
  border: 1px solid rgb(207, 217, 222);
  cursor: pointer;
  position: relative;

  &.Error {
    border-color: red;

    .Info label {
      color: red;
    }
  }

  &.Focused {
    cursor: text;

    &:not(.Error) {
      border-color: var(--primary-color);
      box-shadow: var(--primary-color) 0 0 0 1px;

      label {
        color: var(--primary-color);
      }
    }
  }

  &:not(.Focused):not(.Empty) {
    display: hidden;
  }

  .Info {
    font-size: 12px;
    padding-bottom: 0.5rem;
  }
}

.HelperBox {
  min-height: 18px;
  padding-left: 0.5rem;
  font-size: 13px;
  color: var(--primary-color);

  &.Error {
    color: red;
  }
}
