.Placeholder {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.TypingArea {
  .Info {
    display: flex;
    justify-content: space-between;
  }

  &:not(.Focused).Empty {
    visibility: hidden;
  }

  .Input {
    display: flex;

    input {
      border: 0;
      width: 100%;
      font-size: 16px;
      cursor: inherit;

      &:focus {
        outline: none;
        cursor: text;
      }
    }
  }
}

.InheritCursor {
  cursor: inherit;
}
