.HeaderProfile {
  display: flex;
  align-items: center;
  gap: 2rem;

  .UserInfo {
    display: flex;
    flex-direction: column;

    .NameAndVerified {
      display: flex;
      gap: 0.5rem;
    }
  }
}
