.NavIcon {
  grid-area: icon;
}

.Logo {
  grid-area: header;
  justify-self: center;
  align-self: center;
  margin-left: calc(-1 * var(--minipage-icon-area-length));

  .LogoSize {
    width: 24px;
    height: 24px;
  }
}
