.NameAndVerified {
  &.AbbreviateOverflow {
    display: flex;
    align-items: center;
    gap: 2px;
    overflow: hidden;

    .Name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .Name.UnderlineOnHover:hover {
    text-decoration: underline;
  }

  &:not(.AbbreviateOverflow) .VerifiedIcon {
    display: inline-block;
    margin-left: 2px;
  }
}
