.ProfileButton {
  margin-top: auto;
  margin-bottom: 1rem;

  @include media.multi(mobile, tablet, pc-small) {
    min-height: 5rem;
    position: relative;
  }

  .Wrapper {
    padding: 1rem;
    border-radius: 40px;
    transition: var(--transition-duration);

    @include media.pc {
      margin-right: 1rem;
    }

    &:hover {
      background-color: var(--hover-bg);
    }
  }
}

.PopupStyles {
  min-width: 19rem;
}
