.AddPhoto {
  background-color: rgba(15, 20, 25, 0.75);
  border-radius: 40px;
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 22px;
    height: 22px;
  }

  &:hover {
    background-color: rgba(39, 44, 48, 0.75);
    cursor: pointer;
  }
}

.Avatar {
  background-size: cover;
  background-position: center;
}
