.IconAndTitle {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  &.Large {
    font-size: 20px;
    gap: 1.5rem;
  }

  &.LargeIcon {
    width: 24px;
    height: 24px;
  }

  &.Small {
    font-weight: 500;
    gap: 1rem;
  }
}
