.Tweet.WithBorder {
  border-bottom: var(--border);
}

.Retweet {
  display: flex;
  gap: 1rem;
  align-items: center;

  &:hover {
    text-decoration: underline;
  }

  .RetweetIconWrapper {
    flex-basis: var(--avatar-small-height);
    justify-content: end;

    .RetweetIcon {
      width: 16px;
      height: 16px;
    }
  }
}

.TweetWrapper {
  a {
    display: contents;
  }

  &.Simple {
    min-height: 6rem;

    .Text {
      padding-bottom: 1rem;
    }
  }

  display: flex;
  gap: 1rem;

  $replyLineColor: rgb(207, 217, 222);
  $replyLineWidth: 2px;

  .Avatar {
    flex-shrink: 0;
    width: var(--avatar-small-height);
    height: var(--avatar-small-height);
    position: relative;

    .ReplyLine {
      position: absolute;
      background-color: $replyLineColor;
      width: $replyLineWidth;
      left: calc((var(--avatar-small-height) - $replyLineWidth) / 2);
      height: 100%;
    }
  }

  .ShowMoreIcon {
    width: var(--avatar-small-height);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    div {
      width: $replyLineWidth;
      height: $replyLineWidth;
      background-color: $replyLineColor;
    }

    .Transform {
      transform: rotate(90deg);
    }
  }

  .Wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.3rem;

    .ShowMore {
      color: var(--primary-color);
    }

    .Info {
      display: grid;
      column-gap: 0.5rem;
      grid-template-areas: "name  info  more";
      grid-template-columns: auto auto 1fr;

      @include media.mobile {
        grid-template-areas:
          "name  more"
          "info info";
        grid-template-columns: auto 1fr;
      }

      .Subinfo {
        grid-area: info;
        font-size: var(--big-text);
        display: flex;
        gap: 0.5rem;

        a {
          color: var(--light-color);
        }
      }

      .MoreIcon {
        grid-area: more;
        margin-left: auto;
      }

      .UnderlineOnHover:hover {
        text-decoration: underline;
      }
    }
    .Text {
      overflow-wrap: anywhere;
    }
  }
}
