.Tweet {
  display: flex;
  gap: 1rem;

  $replyLineColor: rgb(207, 217, 222);
  $replyLineWidth: 2px;

  &.WithBorder {
    border-bottom: var(--border);
  }

  .Avatar {
    flex-shrink: 0;
    width: var(--avatar-small-height);
    height: var(--avatar-small-height);
    position: relative;

    .ReplyLine {
      position: absolute;
      background-color: $replyLineColor;
      width: $replyLineWidth;
      left: calc((var(--avatar-small-height) - $replyLineWidth) / 2);
      height: 100%;
    }
  }

  .ShowMoreIcon {
    width: var(--avatar-small-height);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    div {
      width: $replyLineWidth;
      height: $replyLineWidth;
      background-color: $replyLineColor;
    }

    .Transform {
      transform: rotate(90deg);
    }
  }

  .Wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.3rem;

    .ShowMore {
      color: var(--primary-color);
    }

    .Info {
      display: flex;
      gap: 0.5rem;

      & > *,
      .Subinfo > * {
        flex-shrink: 0;
      }

      .Name {
        font-size: 15px;
        font-weight: 700;
      }

      .Subinfo {
        font-size: 15px;
        display: contents;
      }

      .Verified {
        width: 18px;
        height: 18px;
      }

      .MoreIcon {
        margin-left: auto;
      }
    }
  }
}
