nav {
  cursor: pointer;
  padding-top: 3px;

  .NavItem {
    padding-top: 0.5rem;
    display: flex;

    &:hover {
      cursor: pointer;
    }
  }
  .Logo {
    margin-left: 2px;
    display: inline-block;
  }

  .PostTweetButton {
    width: 26px;
    height: 26px;
  }
}
