nav {
  cursor: pointer;

  .NavItem {
    padding-top: 0.5rem;

    &:hover {
      cursor: pointer;

      .IconAndTitle {
        background-color: var(--hover-bg);
      }
    }

    .IconAndTitle {
      display: flex;
      gap: 1.5rem;
      width: min-content;
      padding: 1rem;
      padding-right: 2rem;
      border-radius: 40px;
      border: black;
      transition: var(--transition-duration);
    }
  }

  img {
    width: 26px;
    height: 26px;
  }

  display: flex;
  flex-direction: column;

  // Give an order to flex items, to be able to place popup where we want
  // in the flex list
  @for $i from 1 through 10 {
    & > :nth-child(#{$i}) {
      order: $i;
    }
  }
}
