nav {
  cursor: pointer;

  .IconAndTitleWrapper {
    padding-top: 1rem;

    &:hover {
      cursor: pointer;

      .IconAndTitle {
        background-color: var(--hover-bg);
      }
    }

    .IconAndTitle {
      display: flex;
      gap: 1.5rem;
      width: min-content;
      padding: 1rem;
      padding-right: 2rem;
      border-radius: 40px;
      border: black;
      transition: var(--transition-duration);
    }
  }

  img {
    width: 26px;
    height: 26px;
  }
}
