.Icon {
  cursor: pointer;
  padding: 8px;
  border-radius: 40px;
  transition: var(--transition-duration);

  &.NormalSize {
    width: 20px;
    height: 20px;
  }

  &.LargeSize {
    width: 26px;
    height: 26px;
  }

  &.LargeSizeLogo {
    width: 30px;
    height: 30px;
  }

  &.HoverNone {
    padding: 0;
  }

  &.HoverNormal:hover {
    background-color: var(--hover-bg);
  }

  &.HoverPrimary:hover {
    background-color: var(--primary-color-transparent);
  }
}
