.Icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 8px;
  border-radius: 40px;
  transition: var(--transition-duration);
}

.HoverBgColor:hover {
  background-color: var(--hover-bg);
}

.HoverPrimaryColor:hover {
  background-color: var(--primary-color-transparent);
}
