.Wrapper {
  $color: rgb(83, 100, 113);
  color: $color;
  padding: 0.5rem;
  font-size: 17px;
  border-radius: 4px;
  border: 1px solid rgb(207, 217, 222);
  cursor: pointer;
  position: relative;
  border-color: rgba(207, 217, 222, 1);

  &.Focused {
    cursor: text;
    color: common.$primary-color;
    border-color: common.$primary-color;
  }

  &.Error {
    color: red;
    border-color: red;
  }

  &:not(.Focused) {
    .MaxCount {
      visibility: hidden;
    }

    &.Empty .Label {
      visibility: hidden;
    }
  }

  .Info {
    font-size: 12px;
    padding-bottom: 0.5rem;
  }

  .Placeholder {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .TypingArea {
    .Info {
      display: flex;
      justify-content: space-between;
    }

    .Input {
      display: flex;

      textarea {
        resize: none;
        height: 60px;
      }

      input,
      textarea {
        border: 0;
        width: 100%;
        font-size: 16px;
        cursor: inherit;

        &:focus {
          outline: none;
          cursor: text;
        }
      }
    }
  }

  .InheritCursor {
    cursor: inherit;
  }

  .SuccessIcon {
    fill: common.$green-color !important;
  }
}

.HelperBox {
  min-height: 18px;
  padding-left: 0.5rem;
  font-size: common.$small-text;
  color: common.$primary-color;

  &.Error {
    color: red;
    margin-bottom: 1rem;
  }
}
