main {
	grid-area: main;
	display: grid;
	grid-template:
		"header-main header-right" 45px
		"content-main content-right" auto
		/ 2fr 1fr;
		grid-column-gap: 1.5em;
	grid-area: main;

	.ContentMain {
		grid-area: content-main;
		border-inline: var(--border);
		padding-inline: var(--main-content-padding);
	}
}