/* Defined globally because they are also used in Tweet. We don't limit their
scope to the Avatar component, as they are also used here to define the 
Profile grid */
:root {
  --avatar-height: 133px;
  --avatar-medium-height: 75px;
  --avatar-small-height: 46px;
}

.Profile {
  --cover-height: 200px;

  // Columns for normal profile and medium preview
  @function defineGridColumns($avatar-width) {
    @return 1rem $avatar-width minmax(180px, 1fr) 1rem;
  }
  // Columns for small preview
  @function defineGridColumnsSmall() {
    @return var(--avatar-small-height) 1rem 1fr 1fr;
  }

  display: grid;
  grid-template-areas:
    "cover1  cover1  cover1  cover1 "
    "cover2  avatar  cover3  cover3 "
    ".       avatar  actions .      "
    ".       title   .       .      "
    ".       content content .      ";

  grid-template-rows:
    calc(var(--cover-height) - var(--avatar-height) / 2)
    calc(var(--avatar-height) / 2)
    calc(var(--avatar-height) / 2)
    auto
    auto;

  grid-template-columns: defineGridColumns(var(--avatar-height));

  &.Preview {
    cursor: pointer;

    &.Hover {
      padding-block: 1rem;
      row-gap: 0.5rem;
      grid-template-areas:
        ". avatar actions  ."
        ". title  title    ."
        ". content content .";
      max-width: 300px;
      grid-template-rows: var(--avatar-medium-height) auto auto;
      grid-template-columns: defineGridColumns(var(--avatar-medium-height));
    }

    &.Small {
      grid-template-areas:
        "avatar . title actions"
        ". . content content";
      grid-template-rows: var(--avatar-small-height) auto;
      grid-template-columns: defineGridColumnsSmall();
    }
  }

  a:hover {
    text-decoration: underline;
  }
}

.Cover {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  grid-row: cover1 / cover2;
  grid-column: cover1 / -1;
  display: flex;
  align-items: center;
  justify-content: center;

  &:not(.Edit .Cover) {
    cursor: pointer;
  }
}

.EditAvatar {
  cursor: pointer;
}

.Actions {
  grid-area: actions;
  display: flex;
  justify-content: end;
  gap: 0.5rem;
  align-items: center;

  .FixedWidthButton {
    width: 6.5rem;
  }
}

/* Within a List of Profiles, if the user decides to follow some people, the
   Follow / Following buttons of the profiles will not stay aligned with each
   other, because they are of different width depending on their text.

   Possible apporaches:
    - Give a fixed width to the buttons. Drawback is that the "Follow" button 
      could look a little longer than optimal (current solution).
    - Use a global grid for the whole List including the Profiles, instead of 
      individual grids for each Profile. Drawback is that we are not reusing 
      our List and Profile components.
    - Keep the Button grid item centered in its column. Drawback is that we 
      introduce more horizontal space from the right edge of the List.  
*/

// .Preview .Actions {
//   justify-content: center;
// }

:not(.Preview) > .Title {
  padding-block: 1rem;
}

.Preview.Hover .Title .NameAndVerified h1 {
  font-size: 18px;
}

.Preview.Small .Title .NameAndVerified {
  h1 {
    font-weight: 700;
    font-size: 15px;
  }

  .Verified {
    width: 18px;
    height: 18px;
  }
}

.Title {
  grid-area: title;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .NameAndVerified {
    display: flex;
    gap: 0.5rem;

    h1 {
      font-size: 20px;
      font-weight: 800;
    }
  }

  .Username {
    font-size: 15px;
  }
}

.ProfileInfo {
  grid-area: content;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .Bio {
    font-size: 15px;
  }

  .Friendship {
    display: flex;
    gap: 1rem;
  }
}

.Loading {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.TweetMenu {
  margin-top: 1rem;
}
