.Search {
  height: 46px;
  width: 100%;
  background-color: rgb(239, 243, 244);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;
  border-radius: 40px;
  /**  
	* Include white border to allow changing its color on focus.
	* If we were to have no border and to only introduce it on focus,
    * the element would change dimensions and slightly reposition.
    */
  border: 1px solid white;

  &:focus-within {
    border-color: var(--primary-color);
  }

  img {
    width: 20px;
    height: 20px;
  }

  input {
    height: 100%;
    border: 0;
    background-color: transparent;
    width: 100%;
    font-size: var(--big-text);
    padding: 0;

    &:focus-visible {
      outline: 0;
    }
  }
}
