.Wrapper {
  display: flex;
  justify-content: space-between;
}

.Value {
  height: 1.5rem;
  color: initial;
}

.Popup {
  border-radius: 0;
  max-height: 300px;
}

.Option {
  font-weight: initial;
  padding-block: 0;
}
