$padding-block: 0.8rem;
$padding-inline: 1rem;

.List {
  margin-bottom: 1rem;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &.BackgroundColor {
    background-color: rgb(247, 249, 249);
  }

  .Title {
    font-weight: 800;
    margin: 0;
    cursor: auto;
  }

  & > * {
    padding-block: $padding-block;
    padding-inline: $padding-inline;
    transition: var(--transition-duration);
  }

  & > :not(.Title):hover {
    background-color: rgb(0, 0, 0, 0.03);
  }

  .ShowMore {
    color: var(--primary-color);
    font-size: 15px;
  }
}
