.Footer {
  grid-area: footer;
  background-color: white;
  position: sticky;
  bottom: 0;
  box-shadow: var(--box-shadow);
  display: grid;
  grid-template:
    ". button ."
    / 1fr 5fr 1fr;
  align-items: center;

  .Button {
    grid-area: button;
  }
}
