/** 
 * We make the columns responsive using grid 
 * fraction units, as opposed to real Twitter which
 * sets max widths for desktop and uses breakpoints 
 * for smaller screens. 
*/

.App {
  display: grid;
  grid-template:
    ". sidebar-left header-main   header-right ." var(--header-height)
    ". sidebar-left content-main content-right ." auto
    ". sidebar-left .             sticky-inbox sticky-inbox" auto
    / 1fr 250px minmax(375px, 2fr) minmax(285px, 1.5fr) 1fr;

  // For a similar behaviour to the real Twitter,
  // use the column specification below:
  // / 1fr 275px 660px 330px 1fr;

  grid-column-gap: 1.5em;

  &.NoHeaderRight {
    grid-template-areas:
      ". sidebar-left header-main  content-right ."
      ". sidebar-left content-main content-right ."
      ". sidebar-left .             sticky-inbox sticky-inbox";
  }

  &.ExtendedHeaderMain {
    grid-template-areas:
      ". sidebar-left header-main-extension  header-right  ."
      ". sidebar-left header-main-extension  content-right ."
      ". sidebar-left content-main content-right ."
      ". sidebar-left .             sticky-inbox sticky-inbox";

    grid-template-rows: 53px auto auto auto auto;
  }

  &.ErrorPage {
    grid-template-areas:
      ". sidebar-left error error ."
      ". sidebar-left error error ."
      ". sidebar-left error error .";
  }

  &.DisablePointerEvents {
    pointer-events: none;
  }
}
