.App {
  $content-main: 600px;
  $content-main-right-gap: 2rem;
  $content-right: minmax(285px, 1.5fr);

  min-height: 100vh;
  display: grid;
  grid-template:
    ". sidebar header-main  .  header-right ." var(--header-height)
    ". sidebar header-extended  .  content-right ." auto
    ". sidebar content-main .  content-right ." 1fr
    ". sidebar .            .  sticky-inbox sticky-inbox" auto
    / 1fr auto $content-main $content-main-right-gap $content-right 1fr;

  @include media.pc-small {
    grid-template-areas:
      "sidebar header-main  .  header-right ."
      "sidebar header-extended  .  content-right ."
      "sidebar content-main .  content-right ."
      "sidebar .            .  sticky-inbox sticky-inbox";

    grid-template-columns: 1fr $content-main $content-main-right-gap $content-right 1fr;
  }

  $no-content-right-breakpoint: 1110px;
  --no-content-right-breakpoint: #{$no-content-right-breakpoint};

  @media (max-width: $no-content-right-breakpoint) {
    grid-template-areas:
      " sidebar header-main  ."
      " sidebar header-extended  ."
      " sidebar content-main ."
      " sidebar .            .";
    grid-template-columns: 1fr $content-main 1fr;
  }

  @include media.multi(mobile, tablet) {
    grid-template-areas:
      "header-main"
      "header-extended"
      "content-main"
      "sidebar";
    grid-template-columns: 1fr;
  }

  &.NoHeaderRight {
    @include media.pc {
      grid-template-areas:
        ". sidebar header-main  . content-right ."
        ". sidebar header-extended  . content-right ."
        ". sidebar content-main . content-right ."
        ". sidebar .            . sticky-inbox sticky-inbox";
    }

    @include media.pc-small {
      grid-template-areas:
        "sidebar header-main  . content-right ."
        "sidebar header-extended  . content-right ."
        "sidebar content-main . content-right ."
        "sidebar .            . sticky-inbox sticky-inbox";
    }
  }

  &.ErrorPage {
    grid-template-areas:
      ". sidebar error error ."
      ". sidebar error error ."
      ". sidebar error error .";
  }
}
