$mobile-width: 425px;
$tablet-width: 768px;
$pc-small-width: 1024px;

:root {
  --mobile-width: #{$mobile-width};
  --tablet-width: #{$tablet-width};
  --pc-small-width: #{$pc-small-width};
}

@mixin mobile {
  @media (width <= $mobile-width) {
    @content;
  }
}

@mixin tablet {
  @media ($mobile-width < width <= $tablet-width) {
    @content;
  }
}

@mixin pc-small {
  @media ($tablet-width < width <= $pc-small-width) {
    @content;
  }
}

@mixin pc {
  @media (width > $pc-small-width) {
    @content;
  }
}

@mixin multi($keys...) {
  @each $key in $keys {
    @if ($key == mobile) {
      @include mobile {
        @content;
      }
    } @else if ($key == tablet) {
      @include tablet {
        @content;
      }
    } @else if ($key == pc-small) {
      @include pc-small {
        @content;
      }
    }
  }
}
