.Sticky {
  position: sticky;
  top: 0;
  background-color: white;
}

.Bold {
  font-weight: 700;
}

.BiggerText {
  font-size: var(--bigger-text);
}

.Flex {
  display: flex;
}

.CenterAligned {
  align-items: center;
}

.PushRight {
  margin-left: auto;
}
