@use "../../../layouts/ContentRight/List/List.module.scss";

.CreateTweet {
  $padding-inline: List.$padding-inline;
  $padding-block: List.$padding-block;
  padding-inline: $padding-inline;
  padding-block: $padding-block;

  display: grid;
  grid-template-areas:
    "avatar input   input    input input "
    ".      widgets progress . action ";
  grid-template-columns: var(--avatar-small-height) 1fr auto 1rem auto;
  grid-template-rows: 1fr auto;
  row-gap: $padding-block;
  align-items: center;

  &.AsModalContent {
    grid-template-areas:
      "icon   .       . . ."
      "avatar input   input input input"
      "border border  border border border"
      ".      widgets progress . action";
    grid-template-rows: auto 1fr auto auto;

    @include media.multi(mobile, tablet) {
      grid-template-areas:
        "icon   .       action"
        "avatar input   input"
        "border border  border"
        ".      widgets progress ";
    }
  }

  &:not(.AsModalContent) {
    border-block: var(--border);
  }

  .CloseIcon {
    grid-area: icon;
  }

  .Border {
    grid-area: border;
    border-block: var(--border);
  }

  .Avatar {
    width: var(--avatar-small-height);
    height: var(--avatar-small-height);
    grid-area: avatar;
    align-self: start;
  }

  .TextArea {
    padding-left: $padding-inline;
  }

  .Widgets {
    grid-area: widgets;
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 100%;

    .LocationIcon {
      fill: var(--primary-color);
    }
  }

  .Action {
    grid-area: action;
  }

  .Progress {
    width: 30px;
    grid-area: progress;
    justify-self: center;

    &.Show {
      visibility: visible;
    }
    &.Hide {
      visibility: hidden;
    }
  }
}
