@use "../../../layouts/ContentRight/List/List.module.scss";

.CreateTweet {
  $padding-inline: List.$padding-inline;
  $padding-block: List.$padding-block;
  padding-inline: $padding-inline;
  padding-block: $padding-block;

  display: grid;
  grid-template-areas:
    "avatar input   input  "
    ".      widgets action ";
  grid-template-columns: var(--avatar-small-height) 1fr auto;
  grid-template-rows: 1fr auto;
  gap: $padding-inline;
  align-items: center;
  border-block: var(--border);

  .Avatar {
    width: var(--avatar-small-height);
    height: var(--avatar-small-height);
    grid-area: avatar;
    align-self: start;
  }

  .Widgets {
    grid-area: widgets;
    display: flex;
    gap: 1rem;

    .LocationIcon {
      fill: var(--primary-color);
    }
  }

  .RightContent {
    grid-area: action;
    display: flex;
    gap: 1rem;
    align-items: center;

    .Progress {
      width: 30px;
    }
  }

  .PostContainer {
    .PostButton {
      width: 4.5rem !important;
    }
  }
}
