$breakpoints: (
  mobile: 425px,
  tablet: 790px,
  pc-small: 1295px,
);

@mixin mobile {
  @media (width <= map-get($breakpoints, mobile)) {
    @content;
  }
}

@mixin tablet {
  @media ((map-get($breakpoints, mobile) < width <= map-get($breakpoints, tablet))) {
    @content;
  }
}

@mixin pc-small {
  @media ((map-get($breakpoints, tablet) < width <= map-get($breakpoints, pc-small))) {
    @content;
  }
}

@mixin pc {
  @media (width > map-get($breakpoints, pc-small)) {
    @content;
  }
}

@mixin multi($keys...) {
  @each $key in $keys {
    @if ($key == mobile) {
      @include mobile {
        @content;
      }
    } @else if ($key == tablet) {
      @include tablet {
        @content;
      }
    } @else if ($key == pc-small) {
      @include pc-small {
        @content;
      }
    } @else if ($key == pc) {
      @include pc {
        @content;
      }
    }
  }
}
