/* Breakpoints defined as SCSS variables to be used in media queries.
   If their names are changed or more are added, also modify "global.scss".
   When CSS will support declaring variables with env(), we'll be able to 
   replace them. 
*/
$mobile-width: 425px;
$tablet-width: 790px;
$pc-small-width: 1295px;

@mixin mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

@mixin tablet {
  @media ((min-width: $mobile-width) and (max-width: $tablet-width)) {
    @content;
  }
}

@mixin pc-small {
  @media ((min-width: $tablet-width) and (max-width: $pc-small-width)) {
    @content;
  }
}

@mixin pc {
  @media (min-width: $pc-small-width) {
    @content;
  }
}

@mixin multi($keys...) {
  @each $key in $keys {
    @if ($key == mobile) {
      @include mobile {
        @content;
      }
    } @else if ($key == tablet) {
      @include tablet {
        @content;
      }
    } @else if ($key == pc-small) {
      @include pc-small {
        @content;
      }
    } @else if ($key == pc) {
      @include pc {
        @content;
      }
    }
  }
}
