@forward "./breakpoints.scss";

$primary-color: rgb(29, 155, 240);
$primary-color-transparent: rgb(29, 155, 240, 0.1);
$light-color: rgb(29, 155, 240, 0.1);
$green-color: rgb(0, 186, 124);
$green-color-transparent: rgb(0, 186, 124, 0.1);
$pink-color: rgb(249, 24, 128);
$pink-color-transparent: rgb(249, 24, 128, 0.1);
$hover-bg: rgba(15, 20, 25, 0.1);
$section-bg: rgb(239, 243, 244);
$border: 1px solid $section-bg;
$header-height: 53px;
$main-content-padding: 1rem;
$biggest-text: 20px;
$big-text: 15px;
$small-text: 13px;
$bold-text: 700;
$transition-duration: 0.2s;
$box-shadow:
  rgb(101 119 134 / 20%) 0px 0px 15px,
  rgb(101 119 134 / 15%) 0px 0px 3px 1px;

.Bold {
  font-weight: 700;
}

.BiggestText {
  font-size: $biggest-text;
}

.BigText {
  font-size: $big-text;
}

.SmallText {
  font-size: $small-text;
}

.EllipsisOverlow {
  overflow: hidden;
  text-overflow: ellipsis;
}

.PushRight {
  margin-left: auto;
}

.Semantic {
  display: contents;
}

.PrimaryColor {
  color: $primary-color;
}

.LightColor {
  color: $light-color;
}

.NoHighlighting {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome,
                        Edge, Opera and Firefox */
}
