.Bold {
  font-weight: 700;
}

.BiggestText {
  font-size: var(--biggest-text);
}

.BigText {
  font-size: var(--big-text);
}

.SmallText {
  font-size: var(--small-text);
}

.EllipsisOverlow {
  overflow: hidden;
  text-overflow: ellipsis;
}

.PushRight {
  margin-left: auto;
}

.Semantic {
  display: contents;
}

.PrimaryColor {
  color: var(--primary-color);
}

.LightColor {
  color: var(--light-color);
}

.NoHighlighting {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome,
                        Edge, Opera and Firefox */
}
