.Signup {
  display: grid;
  grid-template:
    "close header ." 4rem
    ".     content . "
    / 1fr 5fr 1fr;
  align-items: center;

  .Content {
    grid-area: content;
    padding-top: 1.5rem;
  }
}
